#gameBoardContainer {
	display: flex;
	justify-content: space-around;
}
.gameBoardStyling {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	justify-self: center;
	margin-top: 5px;
	min-width: 5px;
	min-height: 5px;
	width: 50vw;
	height: 50vh;
	max-height: px;
	max-width: 500px;
	background: white;
}

#userShipsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	border: 1px solid black;
}
.gameboardGrid:hover {
	cursor: pointer;
	background-color: aqua;
}
.gameboardGrid {
	border: 1px solid black;
	background: white;
}
